.contents
  = render partial: "layouts/sidebar"
  .message-board
    .message-board__header
      .message-board__header-left
        .header__group-name= @group.name
        %span.header__group-members Members:
        - @members.each do |member|
          %span.header__group-members= member.user.name
      .message-board__header-right
        = link_to "Edit", edit_group_path(@group)
    .message-board__content
      %ul.messages
        = render @messages
    .message-board__footer
      #message-form
        = form_for [@group, @message] do |f|
          = f.hidden_field :group_id, value: @group.id
          = f.text_field :body, placeholder: 'type a message', class: 'footer__message'
          .image-upload
            %label{for: "file-input"}
              = fa_icon "picture-o"
            %input{id: "file-input", type: "file"}
          = f.submit "Send", class: 'send-button'
