#account-page.account-page
  .account-page__inner.clearfix
    .account-page__inner--left.account-page__header
      %h2 Create Account
      %h5 新規アカウントの作成
      = render "devise/shared/links"
    .account-page__inner--right.user-form
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = devise_error_messages!
        - p = DevisePresenter.new(f, self)
        = p.text_field_block(:name, '名前', autofocus: true)
        = p.text_field_block(:email, 'メールアドレス')
        = p.password_field_block(:password, 'パスワード', autocomplete: 'off', message: '(英数字8文字以上)')
        = p.password_field_block(:password_confirmation, 'パスワード', autocomplete: 'off', message: '(確認)')
        .actions
          = f.submit "Create Account", class: 'btn'
