.chat-group-form
  %h1 新規チャットグループ
  #new_chat_group.new_chat_group
    = form_for @group, url: url_for(controller: 'chat_groups', action: 'create') do |f|
      .chat-group-form__field.clearfix
        .chat-group-form__field--left
          .chat-group-form__label
            = f.label :グループ名
        .chat-group-form__field--right
          #chat_group_name.chat-group-form__input
            = f.text_field :name, placeholder: "グループ名を入力してください"
      .chat-group-form__field.clearfix
        .chat-group-form__field--left
          .chat-group-form__label
            = f.label :チャットメンバーを追加
        .chat-group-form__field--right
          .chat-group-form__search.clearfix
            #user-search-field.chat-group-form__input
              = collection_check_boxes(:group, :user_ids, User.all, :id, :name) do |b|
                = b.label { b.check_box + b.text }
      .chat-group-form__field.clearfix
        .chat-group-form__field--left
        .chat-group-form__field--right
          .chat-group-form__action-btn
            = f.submit "Save"
