= form_for @group do |f|
  = f.hidden_field :group_id, value: @group.id
  .chat-group-form__field.clearfix
    .chat-group-form__field--left
      .chat-group-form__label
        = f.label :グループ名
    .chat-group-form__field--right
      #chat_group_name
        = f.text_field :name, placeholder: "グループ名を入力してください", class: 'chat-group-form__input'
  .chat-group-form__field.clearfix
    .chat-group-form__field--left
      .chat-group-form__label
        = f.label :チャットメンバーを追加
    .chat-group-form__field--right
      .chat-group-form__search.clearfix
        #user-search-field
          %input.chat-group-form__input
          #chat-group-form__checkbox
            = collection_check_boxes(:group, :user_ids, User.all, :id, :name) do |b|
              = b.label { b.check_box + b.text }
          %button{id: 'search'}
  #user-search-result.clearfix
    #user-search-result__field--left
    #user-search-result__field--right
      %ul#result-field
  .chat-group-form__field.clearfix
    .chat-group-form__field--left
      .chat-group-form__label
        = f.label :チャットメンバー
    .chat-group-form__field--right
      %ul#added-users
        - @members.each do |member|
          %li.chat-group-user
            .chat-group-user__name= member.name
            .chat-group-user__btn.chat-group-user__btn--remove 削除
            %input{value: member.id, type: 'hidden'}
  .chat-group-form__field.clearfix
    .chat-group-form__field--left
    .chat-group-form__field--right
      = f.submit "Save", class: 'chat-group-form__action-btn'
