#account-page.account-page
  .account-page__inner.clearfix
    .account-page__inner--left.account-page__header
      %h2 Log in
      %h5 登録しているユーザーでログイン
      = render "devise/shared/links"
    .account-page__inner--right.user-form
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        - p = DevisePresenter.new(f, self)
        = p.text_field_block(:email, 'メールアドレス', autofocus: true)
        = p.password_field_block(:password, 'パスワード', autocomplete: true, message: '(英数字8文字以上)')
        .actions
          = f.submit "Log in", class: 'btn'
