.sidebar
  .sidebar__top
    %span.sidebar__top-left= current_user.name
    .sidebar__top-right
      = link_to fa_icon("pencil-square-o"), new_group_path
      = link_to fa_icon("cog"), edit_user_registration_path
  .sidebar__column
    %ul.groups
      - @groups.each do |group|
        =link_to(group_messages_path(group)) do
          %li.group
            .group__top-content
              %span.group__top-content-title= group.name
              %span.group__top-content-updated-at= group.messages.any? ? group.messages.last.sidebar_time : group.sidebar_time
            .group__bottom-content= group.messages.any? ? group.messages.last.message_content : 'まだメッセージがありません'
