!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Chatspace
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'bower'
    = javascript_include_tag 'application'
  %body
    - if flash.any?
      .flash-message
        %p.flash-message__notice= notice
        %p.flash-message__alert= alert
    = yield
