!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Chatspace
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
  %body{controller: controller_name}
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    - if flash.any?
      .flash-message
        %p.flash-message__notice= notice
        %p.flash-message__alert= alert
    = yield
